<div class="row mb-3 jumbotron">
  <div class="col-md-12">
    <h1 class="text-center">
      Find Inspriration!
      <small class="text-muted">The perfect place to help you through Artist's Block</small>
    </h1>
  </div>
</div>


<%= search_form_for @q do |f| %>
  <div class="form-group">
    <h3> Genre </h3>
    <% ArtMovement.all.each do |genre| %>
      <div>
        <label>
          <%= check_box_tag('q[genre_id_eq_any][]', genre.id, (true if @q.genre_id_eq_any.try(:include?, genre.id))) %>
          <%= genre.genre_name %> 
        </label>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <h3> Theme </h3>
    <% Theme.all.each do |theme| %>
    <div>
        <label>
          <%= check_box_tag('q[theme_id_eq_any][]', theme.id, (true if @q.theme_id_eq_any.try(:include?, theme.id))) %>
          <%= theme.theme_name %> 
        </label>
      </div>
    <% end %>
  </div>
    <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/search_filter" class="btn btn-default btn-block">Clear filters</a>
<% end %>





 
  

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Image
        </th>

        <th>
          Year completed
        </th>

        <th>
          Paint medium
        </th>

        <th>
          Title
        </th>

        <th>
          Artist
        </th>

        <th>
          Genre
        </th>

        <th>
          Theme
        </th>

      </tr>

      <% @paintingss.each do |painting| %>
      <tr>
        <td>
          <img src = "<%= painting.image %>" width = "300">
        </td>

        <td>
          <%= painting.date %>
        </td>

        <td>
          <%= painting.paint_medium %>
        </td>

        <td>
          <%= painting.title %>
        </td>

        <td>
          <%= painting.artist.artist_name %>
        </td>

        <td>
          <%= painting.genre.genre_name %>
        </td>


        <td>
          <%= painting.theme.theme_name %>
        </td>

        <td>
          <a href="/paintings/<%= painting.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


