<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Filter through our paitings to get inspiration!
    </h1>
  </div>
</div>
  <%# <div class="form-group"> %>

    <%# <%=select_tag "query_genre_id", options_from_collection_for_select( ArtMovement.all, "id", "genre_name") %> 
    <%# <%=select_tag "query_paint_medium", options_from_collection_for_select( Painting.all, "id", "paint_medium") %> 
    <%# <%=select_tag "query_theme_id", options_from_collection_for_select( Theme.all, "id", "theme_name") %> 
    <%# <%=select_tag "query_date_completed", options_from_collection_for_select( Painting.all, "id", "date") %> 

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <h3> Paint Medium </h3>
    <% Painting.all.each.to_a.uniq do |painting| %>
      <%= check_box_tag('q[paintings_id_eq_any][]', painting.id ) %>
      <%= painting.paint_medium %>
    <% end %>
  </div>

  <div class="form-group">
    <h3> Genre </h3>
    <% ArtMovement.all.each do |genre| %>
      <label>
        <%= check_box_tag('q[genre_id_eq_any][]', genre.id, (true if @q.genre_id_eq_any.try(:include?, genre.id))) %>
        <%= genre.genre_name %> 
      </label>
    <% end %>
  </div>
  <div class="form-group">
    <h3> Theme </h3>
    <% Theme.all.each do |theme| %>
      <label>
        <%= check_box_tag('q[theme_id_eq_any][]', theme.id, (true if @q.theme_id_eq_any.try(:include?, theme.id))) %>
        <%= theme.theme_name %> 
      </label>
    <% end %>
  </div>
  <button class="btn btn-outline-secondary">
    Search paintings!
  </button>
<% end %>





 
  

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Image
        </th>

        <th>
          Year completed
        </th>

        <th>
          Paint medium
        </th>

        <th>
          Title
        </th>

        <th>
          Artist
        </th>

        <th>
          Genre
        </th>

        <th>
          Theme
        </th>

      </tr>

      <% @paintings.each do |painting| %>
      <tr>
        <td>
          <img src = "<%= painting.image %>" width = "300">
        </td>

        <td>
          <%= painting.date %>
        </td>

        <td>
          <%= painting.paint_medium %>
        </td>

        <td>
          <%= painting.title %>
        </td>

        <td>
          <%= painting.artist.artist_name %>
        </td>

        <td>
          <%= painting.genre.genre_name %>
        </td>


        <td>
          <%= painting.theme.theme_name %>
        </td>

        <td>
          <%# <%= time_ago_in_words(painting.created_at) %> 
        </td>
        <td>
          <%# <%= time_ago_in_words(painting.updated_at) %> 
        </td>

        <td>
          <a href="/paintings/<%= painting.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


