<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all paintings
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new painting
    </h2>

    <form action="/insert_painting" method="post">
      <div class="form-group">
        <label for="date_completed_box">
          Date completed
        </label>

        <input type="date" id="date_completed_box" name="query_date_completed" class="form-control">
      </div>

      <div class="form-group">
        <label for="paint_medium_box">
          Paint medium
        </label>

        <input type="text" id="paint_medium_box" name="query_paint_medium" class="form-control">
      </div>

      <div class="form-group">
        <label for="style_id_box">
          Style
        </label>

        <input type="text" id="style_id_box" name="query_style_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="artist_id_box">
          Artist
        </label>

        <input type="text" id="artist_id_box" name="query_artist_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="genre_id_box">
          Genre
        </label>

        <input type="text" id="genre_id_box" name="query_genre_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="fan_id_box">
          Fan
        </label>

        <input type="text" id="fan_id_box" name="query_fan_id" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create painting
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Image
        </th>

        <th>
          Date completed
        </th>

        <th>
          Paint medium
        </th>

        <th>
          Title
        </th>

        <th>
          Artist
        </th>

        <th>
          Genre
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @paintings.each do |painting| %>
      <tr>
        <td>
          <img src = "<%= painting.image%>">
        </td>

        <td>
          <%= painting.date %>
        </td>

        <td>
          <%= painting.paint_medium %>
        </td>

        <td>
          <%= painting.title %>
        </td>

        <td>
          <%= painting.artist_id %>
        </td>

        <td>
          <%= painting.genre_id %>
        </td>

        <td>
          <%= time_ago_in_words(painting.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(painting.updated_at) %> ago
        </td>

        <td>
          <a href="/paintings/<%= painting.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
