<div class="row mb-3 jumbotron">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @painting.title %> 
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/paintings" class="btn btn-primary btn-block">
          Go back
        </a>
      </div>
    </div>


    <dl>
      <dt>
        <img src = "<%= @painting.image%>" width = "500">
      </dt>
      <dt>
        Year completed
      </dt>
      <dd>
        <%= @painting.date %>
      </dd>

      <dt>
        Paint medium
      </dt>
      <dd>
        <%= @painting.paint_medium %>
      </dd>

      <dt>
        Theme
      </dt>
      <dd>
        <%= @painting.theme.theme_name %>
      </dd>

      <dt>
        Artist
      </dt>
      <dd>
        <%= @painting.artist.artist_name %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= @painting.genre.genre_name %> 
      </dd>

    
      <%# <dt>
        Fan
      </dt>
      <dd>
        <%= @painting.fan_id %>
     <%# </dd> %>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@painting.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@painting.updated_at) %> ago
      </dd>
      <dt>Save this painting</dt>
        <dd>
        <form action="/insert_like">
          <input type="hidden" value=<%=@painting.id%> name="query_painting_id">
          <button>Save</button>
        </form>
        </dd>
    </dl>
  </div>
</div>




<%# <div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit painting
    </h2> %>

    <%# <form action="/modify_painting/<%= @painting.id %>  <%# method="post" >
      
      <%# <div class="form-group">
        <label for="title_box">
          Title
        </label> %>

        <%# <input type="text" id="title_box" name="query_title" class="form-control" value="<%= @painting.title %>
      <%# </div>
      <div class="form-group">
        <label for="date_completed_box">
          Year completed
        </label> %>

        <%# <input type="text" id="date_completed_box" name="query_date_completed" class="form-control" value="<%= @painting.date %>
      <%# </div> %>
<%# 
      <div class="form-group">
        <label for="paint_medium_box">
          Paint medium
        </label> %>

        <%# <input type="text" id="paint_medium_box" name="query_paint_medium" class="form-control" value="<%= @painting.paint_medium %>
      <%# </div>

      <div class="form-group">
        <label for="theme_id_box">
          Theme
        </label> %>

        <%# <input type="text" id="theme_id_box" name="query_theme_id" class="form-control" value="<%= @painting.theme_id %>
      <%# </div> %>

      <%# <div class="form-group">
        <label for="artist_box">
          Artist
        </label> %>

        <%# <input type="text" id="artist_box" name="query_artist" class="form-control" value="<%= @painting.artist %>
      <%# </div> %>
      <%# <div> %>
        <%# <%=select_tag "query_artist_id", options_from_collection_for_select( Artist.all, "id", "artist_name") %> 
      <%# </div> %>

      <%# <div class="form-group"> %>
        <%# <label for="genre_id_box"> %>
          <%# Genre %>
        <%# </label> %>

        <%# <input type="text" id="genre_id_box" name="query_genre_id" class="form-control" value="<%= @painting.genre_id %>
      <%# </div> %>

      <%# <div class="form-group"> %>
        <%# <label for="browser_image"> %>
          <%# Image %>
        <%# </label> %>

        <%# <input id="browser_image" type="text" name="input_image" placeholder="Enter a URL for the image..." value="<%= @painting.image" size="50">  %>

      <%# </div> %>

      <%# <button class="btn btn-block btn-outline-secondary">
        Update painting
      </button>
    </form> %>
  <%# </div>
</div> %>

