<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all messages in works
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new messages in work
    </h2>

    <form action="/insert_messages_in_work" method="post">
      <div class="form-group">
        <label for="painting_id_box">
          Painting
        </label>

        <input type="text" id="painting_id_box" name="query_painting_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="theme_id_box">
          Theme
        </label>

        <input type="text" id="theme_id_box" name="query_theme_id" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create messages in work
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Painting
        </th>

        <th>
          Theme
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @messages_in_works.each do |messages_in_work| %>
      <tr>
        <td>
          <%= messages_in_work.id %>
        </td>

        <td>
          <%= messages_in_work.painting_id %>
        </td>

        <td>
          <%= messages_in_work.theme_id %>
        </td>

        <td>
          <%= time_ago_in_words(messages_in_work.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(messages_in_work.updated_at) %> ago
        </td>

        <td>
          <a href="/messages_in_works/<%= messages_in_work.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
