<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>

<body>
    <nav class="navbar navbar-dark bg-dark">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href = "/search_filter">Custom Filter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = "/all_paintings">All Paintings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_paintings">Saved paintings</a>
        </li>

        <li class="nav-item">
          <% if session.fetch(:user_id).nil? %>
            <a class="nav-link" href = "/user_sign_up">Sign Up</a>
          <% end %>
        </li>
        <li class="nav-item">
          <%if session.fetch(:user_id).nil? %>
            <a class="nav-link" href = "/user_sign_in">Sign In</a>
          <% end %>
        </li>
        <li class="nav-item">
          <% if session.fetch(:user_id).present? %>
            <a class="nav-link" href = "/user_sign_out">Sign Out</a>
          <% end %>
        </li>
      </ul>
    </nav>

    <% if notice.present? %>
      <div style="border: thin green solid; color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="border: thin red solid; color: red">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>

